# Core Requirements
requests
numpy<1.25.0
PyAudio
openai-whisper
SpeechRecognition
argostranslate
langdetect
streamdiffusion
torch
torchvision
torchaudio
pythonosc
google-generativeai
cupy-cuda12x
SpoutGL
